<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<body>
<h3>Register</h3>
<form method="post">
    <label for="fname">username</label>
    <input type="text" id="fname" name="username" placeholder="Your username.">

    <label for="lname">password</label>
    <input type="text" id="lname" name="password" placeholder="Your password..">

    <label for="subject">email</label>
    <textarea id="subject" name="email" placeholder="Write email"></textarea>

    <input type="submit" value="Submit">
</form>
</body>
</html>